/* Dekstop First */
/*Large Devices,Wide Screens*/
@media only screen and (max-width:900px){
    .lent a{
        float:none;
        width: 95%;
        margin-bottom: 2vh;
    }
    .lent{
        margin-bottom: 49vh;
    }

    .connection img{
        width: 10%;
    }

    table {
        /* frame around the table */
        font-size: 5.5vh;
        width: 100%;
    }
    
    td,
    th {
        padding: 2vh;
        /* margins around text */
    }

    footer{
        margin-top: 30%;
    }
}

@media only screen and (max-width:500px){
  

    footer{
        margin-top: 40%;
    }
}