*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
body
{	
	height: 100%;
	color: #fff;
	background-size: 100% 100%;
}
header 
{
	width: 100%;
	height: 11vh;
	padding: 1%;
	background: #3d3b3c;
	opacity: .9;
	border-radius:0 0 65px 65px; 
	border-bottom: 1px solid #DCE1E6;
}

header img
{
	width: 2.5%;
	float: right;
	margin-right: 1%;
}

 h1
{
	float: right;
	margin-right: 42%;
	font-size: 5vh;
	padding-bottom: 2%;
}

menu 
{
	float: left;
	padding: 1% 0 1% 0;
	width: 7%;
	background: #3d3b3c;
	margin-top: 10vh;
	border-radius: 0vh 1.5vh 1.5vh 0vh;
	opacity: .9;
	border: 1px solid #DCE1E6;
	border-left: none;
	font-size: 2.6vh;
}

menu li
{
	width: 100%;

	text-align: center;
	list-style-type: none;
	padding: 2% 2% 2% 2%;
}
menu li:hover
{
	background: #2F2F2F;
}

main
{
	font-size: 2.5vh;
	margin: 0 auto;
	width: 80%;
	background: #3d3b3c;
	padding: 2%;
	border-radius: 3vh;
	margin-top: 5%;
	opacity: .9;
	margin-bottom: 4.5%;
	border: 00.1vh solid white;
}

form input{
	color: #fff;
	text-align: center;
	padding: 1% 2% 1% 2%;
	background-color: #3d3b3c;
	margin: 2% 1% 2% 0;
	border-radius: 6px;
	font-size: 2.5vh;
	border: 0.1vh solid white;
}

iframe{
	border: 0.1vh solid #fff;
	border-radius: 1rem;
	width: 169vh;
	height: 53vh;
	font-size: 2.5vh;

}
.descriptionGame{
	margin-bottom: 4%;
}
.descriptionGameProcess{
	margin-bottom: 4%;
}

.creativelMode{
	margin-bottom: 2%;
}
.survivalMode{
	margin-bottom: 2%;
}
b
{
	font-weight:bold;
	font-size: 2.5vh;

}
a
{
	color: white;
	text-decoration: none;
}
#date_time_block{
	font-size: 2vh;
	padding-top: 1%;
	text-align: center;
}

.connection img{
 	width: 3%;
}
.connection p{
	padding: 0 0 2.5vh 0;
}

footer /*Positioning footer in a window*/
{
	padding: 1% 0 1% 0;
	width: 100%;	
	background: #3d3b3c;
	opacity: .9;
	border-top: 00.1vh solid white;

}
/*Positioning elements in footer*/
footer p
{
	font-size: 2vh;
	text-align: center;
}
#current_date
{
	margin-left: 47%;
	font-size: 0.9em;
}